$orange: #ff5c00;
$background: #141414;
$light-orange: #ffb680;
$black: #000;
$dark-gray: #262626;
$header-catalog: #333333;
$gray: #707070;
$light-gray: #aaaaaa;
$white: #fff;
$link: #2c80ff;
$label-blue: #00fff0;
$label-green: #00ff66;
$error: #ff5353;
$success: #25d189;
$notification: rgba(53, 114, 134, 0.3);
