@use "./breakpoints.module";

@mixin h1 {
  @include breakpoints.screen-xs {
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 130%;
    @content;
    @content;
  }

  @include breakpoints.screen-xl {
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 130%;
    @content;
    @content;
  }
}

@mixin h2 {
  @include breakpoints.screen-xs {
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 130%;
    @content;
    @content;
  }

  @include breakpoints.screen-xl {
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 130%;
    @content;
  }
}

@mixin h3 {
  @include breakpoints.screen-xs {
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 130%;
    @content;
  }

  @include breakpoints.screen-xl {
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 130%;
    @content;
  }
}

@mixin h4 {
  @include breakpoints.screen-xs {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 130%;
    @content;
  }

  @include breakpoints.screen-xl {
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 130%;
    @content;
  }
}

@mixin h5 {
  @include breakpoints.screen-xs {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 130%;
    @content;
  }

  @include breakpoints.screen-xl {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 130%;
    @content;
  }
}

@mixin subtitle {
  font-family: "Open Sans", sans-serif;
  @include breakpoints.screen-xs {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    @content;
  }
  @include breakpoints.screen-xl {
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 150%;
    @content;
  }
}

@mixin body1 {
  font-family: "Open Sans", sans-serif;
  @include breakpoints.screen-xs {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    @content;
  }
  @include breakpoints.screen-xl {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    @content;
  }
}

@mixin body2 {
  font-family: "Open Sans", sans-serif;
  @include breakpoints.screen-xs {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    @content;
  }
  @include breakpoints.screen-xl {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    @content;
  }
}

@mixin body3 {
  font-family: "Open Sans", sans-serif;
  @include breakpoints.screen-xs {
    font-style: normal;
    font-weight: 400;
    font-size: 9px;
    line-height: 150%;
    @content;
  }
  @include breakpoints.screen-xl {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    @content;
  }
}

@mixin table-text {
  font-family: "Open Sans", sans-serif;
  @include breakpoints.screen-xs {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    @content;
  }
  @include breakpoints.screen-xl {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    @content;
  }
}

@mixin span-big {
  @include breakpoints.screen-xs {
    font-style: normal;
    font-size: 16px;
    line-height: 100%;
    @content;
  }
  @include breakpoints.screen-xl {
    font-style: normal;
    font-size: 18px;
    line-height: 100%;
    @content;
  }
}

@mixin span-big-bold {
  @include breakpoints.screen-xs {
    @include span-big {
      font-weight: 700;
    }
  }
  @include breakpoints.screen-xl {
    @include span-big {
      font-weight: 700;
    }
  }
}

@mixin span-big-regular {
  @include breakpoints.screen-xs {
    @include span-big {
      font-weight: 400;
    }
  }
  @include breakpoints.screen-xl {
    @include span-big {
      font-weight: 400;
    }
  }
}

@mixin span {
  @include breakpoints.screen-xs {
    font-style: normal;
    font-size: 14px;
    line-height: 100%;
    @content;
  }
  @include breakpoints.screen-xl {
    font-style: normal;
    font-size: 16px;
    line-height: 100%;
    @content;
  }
}

@mixin span-bold {
  @include breakpoints.screen-xs {
    @include span {
      font-weight: 700;
    }
  }
  @include breakpoints.screen-xl {
    @include span {
      font-weight: 700;
    }
  }
  @content;
}

@mixin span-regular {
  @include breakpoints.screen-xs {
    @include span {
      font-weight: 400;
    }
  }
  @include breakpoints.screen-xl {
    @include span {
      font-weight: 400;
    }
  }
}

@mixin span-small {
  @include breakpoints.screen-xs {
    font-style: normal;
    font-size: 12px;
    line-height: 100%;
    @content;
  }
  @include breakpoints.screen-xl {
    font-style: normal;
    font-size: 14px;
    line-height: 100%;
    @content;
  }
}

@mixin span-small-bold {
  @include breakpoints.screen-xs {
    @include span {
      font-weight: 700;
    }
  }
  @include breakpoints.screen-xl {
    @include span {
      font-weight: 700;
    }
  }
}

@mixin span-small-regular {
  @include breakpoints.screen-xs {
    @include span {
      font-weight: 400;
    }
  }
  @include breakpoints.screen-xl {
    @include span {
      font-weight: 400;
    }
  }
}
@mixin span-tiny {
  @include breakpoints.screen-xs {
    font-style: normal;
    font-size: 10px;
    line-height: 100%;
    @content;
  }
  @include breakpoints.screen-xl {
    font-style: normal;
    font-size: 12px;
    line-height: 100%;
    @content;
  }
}

@mixin span-tiny-bold {
  @include breakpoints.screen-xs {
    @include span {
      font-weight: 700;
    }
  }
  @include breakpoints.screen-xl {
    @include span {
      font-weight: 700;
    }
  }
  @content;
}

@mixin span-tiny-regular {
  @include breakpoints.screen-xs {
    @include span {
      font-weight: 400;
    }
  }
  @include breakpoints.screen-xl {
    @include span {
      font-weight: 400;
    }
  }
}
