@use "../../modules/units.module";
@use "../../modules/typography.module";

.input {
  padding: 0 0 0 units.$unit * 3;
  border: 1px solid white;
  outline: none;
  background: none;
  color: white;
  height: units.$input-button-height;

  @include typography.body2;
}

.rounded_left {
  border-radius: 40px;
}
.rounded_right {
  border-radius: 40px;
}
.rounded_full {
  border-radius: 40px;
}

.fullWidth {
  width: 100%;
}
