@use "../../../../shared/modules/breakpoints.module";
@use "../../../../shared/modules/units.module";
@use "../../../../shared/modules/colors.module";
@use "../../../../shared/modules/typography.module";

.list {
  display: grid;

  column-gap: units.$unit * 3;
  row-gap: units.$unit * 2;

  list-style: none;

  @include breakpoints.screen-xs {
    grid-template-columns: repeat(2, calc(50% - (units.$unit * 3 * 0.5)));
  }

  @include breakpoints.screen-xl {
    grid-template-columns: repeat(4, calc(25% - (units.$unit * 3 * 0.75)));
  }
}

.empty_wrap {
  margin-bottom: units.$unit * 14;
  padding: units.$unit * 5 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  margin-bottom: units.$unit;
  @include typography.h1 {
    color: colors.$white;
    text-align: center;
  }
}

.subtitle {
  @include typography.body1 {
    color: colors.$white;
    text-align: center;
  }
}

.new_games_wrap_top {
  margin-bottom: 32px;
}

.new_games_title {
  font-weight: 700;
  font-size: 32px;
  line-height: 130%;
  color: colors.$white;
}
