@use "../../shared/modules/units.module";
@use "../../shared/modules/breakpoints.module";

.bar {
  position: sticky;
  top: units.$header-height;
  width: units.$filters-bar-width;
  overflow-y: auto;
}
