@use "../../shared/modules/units.module";
@use "../../shared/modules/breakpoints.module";

.bar {
  position: sticky;
  top: 120px;
  display: flex;
  flex-direction: column;
  gap: units.$unit * 3;
  width: units.$filters-bar-width;
  height: fit-content;
  flex-shrink: 0;
  // overflow-y: auto;
}
